/* General stylings */
html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Specific stylings */
.changeBackgroundColor {
    background-color:black;
    color: whitesmoke;
    transition: color 6s ease;
}
#imageDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.sadCatImage {
    height: 500px;
    width: 500px;
    background-image: url(/images/a2b.jpg);
    background-repeat: no-repeat;
}
.setBackgroundColorWhite {
    background-color: white;
    color: black;
}
#btn-1, #btn-2 {
    margin-top: 10px;
}